<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/output.css" rel="stylesheet">
    <title>Julia's Kitchen</title>
  </head>
  <body data-theme="synthwave">
    <section class="hero py-20">
      <div class="prose">
        <h1>Julia's Kitchen</h1>
        <p class="">
          Select a sandwich and Julia will recommend a side-dish to go with it.
        </p>
      </div>
    </section>

    <!-- <div class="max-w-md mx-auto text-center"> -->
    <div class="w-full mx-auto text-center">

      <form action="/" method="post">
        <label for="sandwich" class="block">Select a Sandwich:</label>
        <select name="sandwich_id" id="sandwich" class="select select-bordered">
          {% for sandwich in sandwiches %}
          <option value="{{ loop.index0 }}">{{ sandwich }}</option>
          {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>


    <div class="prose w-3/4 mx-auto py-20">
      {% if submitted %}
      <p>{{ answer | safe }}</p>
      {% endif %}
    </div>
  </body>
</html>
