<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/output.css" rel="stylesheet">
    <title>Julia's Kitchen</title>
  </head>
  <body data-theme="synthwave">
    <section class="hero py-20">
      <div class="prose">
        <h1>Julia's Kitchen</h1>
        <p class="">
          Description goes here
        </p>
      </div>
    </section>

    <div class="max-w-md mx-auto text-center">
      <form action="/sides" method="post">
        <label for="sandwich" class="block">Select a Sandwich:</label>
        <select name="sandwich" id="sandwich" class="select select-bordered">
          {% for sandwich in sandwiches %}
          <option value="{{ sandwich }}">{{ sandwich }}</option>
          {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
        {% if submitted %}
        <p>You selected: {{ sandwich_selected }}</p>
        {% endif %}
      </form>
    </div>
  </body>
</html>
